In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler

In [2]:
df0 = pd.read_csv('sp500sub.csv', index_col='Date', parse_dates=True)
df0.head()

             Open   High    Low  Close  Adj Close     Volume  Name
Date
2010-01-04   9.22   9.51   9.17   9.50       9.50  1865400.0  INCY
2010-01-05   9.51  10.29   9.45  10.27      10.27  7608900.0  INCY
2010-01-06  10.38  11.09  10.35  11.00      11.00  8046700.0  INCY
2010-01-07  11.00  11.06  10.62  10.82      10.82  3680300.0  INCY
2010-01-08  10.82  11.00  10.75  10.94      10.94  1529300.0  INCY

In [3]:
df = df0[df0['Name'] == 'IBM'][['Close']].copy()
df['LogClose'] = np.log(df['Close'])
df['LogReturn'] = df['LogClose'].diff()

In [4]:
Ntest = 252
train = df.iloc[:-Ntest]
test = df.iloc[-Ntest:]

In [5]:
# Make supervised dataset
# let's see if we can use T past values to predict the next value

series = df['LogReturn'].to_numpy()[1:] # first value is nan
target = (series > 0) * 1

T = 21
X = []
Y = []
# count up to 1 less than before, since there is no target for last close
for t in range(len(series) - T):
  x = series[t:t+T]
  X.append(x)
  y = target[t+T]
  Y.append(y)

X = np.array(X).reshape(-1, T)
Y = np.array(Y)
N = len(X)
print("X.shape", X.shape, "Y.shape", Y.shape)

X.shape (2241, 21) Y.shape (2241,)

In [6]:
Xtrain, Ytrain = X[:-Ntest], Y[:-Ntest]
Xtest, Ytest = X[-Ntest:], Y[-Ntest:]

In [7]:
lr = LogisticRegression()
lr.fit(Xtrain, Ytrain)
lr.score(Xtrain, Ytrain)

0.5093011563599799

In [8]:

lr.score(Xtest, Ytest)

0.49603174603174605

In [9]:
svc = SVC()
svc.fit(Xtrain, Ytrain)
svc.score(Xtrain, Ytrain)

0.7551533433886375

In [10]:
svc.score(Xtest, Ytest)

0.49603174603174605

In [11]:
rf = RandomForestClassifier()
rf.fit(Xtrain, Ytrain)
rf.score(Xtrain, Ytrain)

1.0

In [12]:
rf.score(Xtest, Ytest)

0.46825396825396826